= render "shared/mini_header"

.buy-item
  %h2.buy-item__header 購入内容の確認
  .buy-item__box
    .buy-item__box__image
      = image_tag 'free.jpg', class: 'image'
        -if @item.buyer_id.present? 
        .items-box_photo_sold
          .items-box_photo_sold__inner SOLD
    .buy-item__box__detail
      = @item.name
      .buy-item__box__detail__price
        = "¥ #{@item.price}"
        %span (税込)送料込み
  %section.buy-item__pay
    %form
      .buy-item__pay__price
        %p 支払い金額

        = "¥ #{@item.price}"
    %section.buy-item__pay__card
      .buy-item__pay__card__text
        %p 支払い方法
        = link_to "変更する", '/credit_cards/show', class: 'buy-item__pay__card__text__edit'
      .buy-item__pay__card__list
        - if @default_card_information.blank?
          %br /
        - else
          = "**** **** **** " + @default_card_information.last4
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        %br
    %section.buy-item__pay__address
      .buy-item__pay__address__text
        %p 配送先
        = link_to "変更する", '#', class: 'buy-item__pay__address__text__edit'
      .buy-item__pay__address__list
        %p 〒000-0000
        %p 福岡県 福岡市 テックエキスパート
        %p 元山 清春
    %section.buy-item__pay__footer
      - if @item.buyer_id.present? 
        = link_to "売り切れました", '#', class:"disabled-button bold"
      - else
        = form_tag(action: :pay, method: :post) do
          %button 購入する
  
= render "shared/mini_footer"