= render partial: 'shared/mini_header'
.single-container
  .single-main
    .title
      住所情報登録
    = form_with model: @sending_destination, local: true do |f|
      = render "devise/shared/error_messages", resource: @sending_destination
      .main
        .input
          .input__postCode
            .input__postCode__text.SideType
              .bold
                郵便番号
              .red
                必須
            = f.text_field :post_code, autofocus: true, placeholder: "　例）1112222", class: "input__postCode__form", id: "post_code"

          .input__prefecture
            .input__prefecture__text.SideType
              .bold
                都道府県
              .red
                必須
            = f.text_field :prefecture, autofocus: true, placeholder: "　例）福岡", class: "input__prefecture__form", id: "prefecture"

          .input__city
            .input__city__text.SideType
              .bold
                市町村
              .red
                必須
            = f.text_field :city, autofocus: true, placeholder: "　例）福岡市", class: "input__city__form", id: "city"

          .input__houseNumber
            .input__houseNumber__text.SideType
              .bold
                番地
              .red
                必須
            = f.text_field :house_number, autofocus: true, placeholder: "　例）1-10-2", class: "input__houseNumber__form", id: "house_number"

          .input__buildingName
            .input__buildingName__text.SideType
              .bold
                建物名
              .gray
                任意
            = f.text_field :building_name, autofocus: true, placeholder: "　例）マンション", class: "input__buildingName__form", id: "building_name"

          .input__phoneNumber
            .input__phoneNumber__text.SideType
              .bold
                電話番号
              .gray
                任意
            = f.text_field :phone_number, autofocus: true, placeholder: "　例）09012345678", class: "input__phoneNumber__form", id: "phone_number"
        
          .input__submit__btn
            = f.submit "登録する", class: "btn", id: "Userinput__btn" 
= render partial: 'shared/mini_footer'
