.single-container
  .single-header
  .single-main
    .title
      住所情報登録
    = form_with model: @sending_destination, local: true do |f|
      = render "devise/shared/error_messages", resource: @sending_destination
      .main
        .input
          .input__postCode
            .input__postCode__text
              .input__postCode__text.bold
                郵便番号
              .input__postCode__text.red
                必須
            = f.text_field :post_code, autofocus: true, placeholder: "　例）1112222"

          .input__prefecture
            .input__prefecture__text
              .input__prefecture__text.bold
                都道府県
              .input__prefecture__text.red
                必須
            = f.text_field :prefecture, autofocus: true, placeholder: "　例）福岡"

          .input__city
            .input__city__text
              .input__city__text.bold
                市町村
              .input__city__text.red
                必須
            = f.text_field :city, autofocus: true, placeholder: "　例）福岡市"

          .input__houseNumber
            .input__houseNumber__text
              .input__houseNumber__text.bold
                番地
              .input__houseNumber__text.red
                必須
            = f.text_field :house_number, autofocus: true, placeholder: "　例）1-10-2"

          .input__buildingName
            .input__buildingName__text
              .input__buildingName__text.bold
                建物名
              .input__buildingName__text.red
                任意
            = f.text_field :building_name, autofocus: true, placeholder: "　例）マンション"

          .input__phoneNumber
            .input__phoneNumber__text
              .input__phoneNumber__text.bold
                電話番号
              .input__phoneNumber__text.red
                任意
            = f.text_field :phone_number, autofocus: true, placeholder: "　例）09012345678"
        
          .input__submit__btn
            = f.submit "Sign up"
        = render "devise/shared/links"
