.wrapper
  = render "shared/header"

  .mypage
    .mypage__top 
      %p.mypage__top--text メルカリ > マイページ > 支払い方法 > クレジットカード情報入力

    .mypage__main
      = render 'mypages/mypage_nav'
      .mypage__main--contents
        .new-credit-card-box
          %p.new-credit-card-box__header クレジットカード情報入力

<<<<<<< HEAD
        .new-credit-card-box__form
          = form_tag(pay_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm", id: "card_form") do
            .new-credit-card-box__form--label
              %p カード番号
              %p.required 必須
            = text_field_tag "number", "", class: "new-credit-card-box__form--number", placeholder: '半角英数のみ', id: "card_number",maxlength: "16"
            .new-credit-card-box__form--images
              = image_tag 'free.jpg', class: 'credit-card-image'
              = image_tag 'free.jpg', class: 'credit-card-image'
              = image_tag 'free.jpg', class: 'credit-card-image'
              = image_tag 'free.jpg', class: 'credit-card-image'
              = image_tag 'free.jpg', class: 'credit-card-image'
            .new-credit-card-box__form--label
              %p 使用期限
              %p.required 必須
            .new-credit-card-box__form__expiration
              .new-credit-card-box__form__expiration--month
                %select#exp_month{style: 'height: 40px; width: 80%;', name: "exp_month", type: "text"}
                  %option{value: ""} --
                  %option{value: "1"}01
                  %option{value: "2"}02
                  %option{value: "3"}03
                  %option{value: "4"}04
                  %option{value: "5"}05
                  %option{value: "6"}06
                  %option{value: "7"}07
                  %option{value: "8"}08
                  %option{value: "9"}09
                  %option{value: "10"}10
                  %option{value: "11"}11
                  %option{value: "12"}12
              %p 月
              .new-credit-card-box__form__expiration--year
                %select#exp_year{style: 'height: 40px; width: 80%;', name: "exp_year", type: "text"}
                  %option{value: ""} --
                  %option{value: "2020"}20
                  %option{value: "2021"}21
                  %option{value: "2022"}22
                  %option{value: "2023"}23
                  %option{value: "2024"}24
                  %option{value: "2025"}25
                  %option{value: "2026"}26
                  %option{value: "2027"}27
                  %option{value: "2028"}28
                  %option{value: "2029"}29
                  %option{value: "2029"}30
              %p 年
            .new-credit-card-box__form--label
              %p セキュリティーコード
              %p.required 必須
            = text_field_tag "cvc", "", class: 'new-credit-card-box__form__security-code', placeholder: 'カード背面4桁もしくは3桁の番号', id: "cvc", maxlength: "4"
            = link_to '#', class: 'new-credit-card-box__form__card-info' do
              %i.fa.fa-question-circle
              %p カード裏面の番号とは？
            #card_token
            = submit_tag "追加する", class:'new-credit-card-box__form__btn', id: "token_submit"
=======
          .new-credit-card-box__form
            %form
              .new-credit-card-box__form--label
                %p カード番号
                %p.required 必須
              %input.new-credit-card-box__form--number{placeholder: '半角英数のみ'}
              .new-credit-card-box__form--images
                = image_tag 'free.jpg', class: 'credit-card-image'
                = image_tag 'free.jpg', class: 'credit-card-image'
                = image_tag 'free.jpg', class: 'credit-card-image'
                = image_tag 'free.jpg', class: 'credit-card-image'
                = image_tag 'free.jpg', class: 'credit-card-image'
              .new-credit-card-box__form--label
                %p 使用期限
                %p.required 必須
              .new-credit-card-box__form__expiration
                .new-credit-card-box__form__expiration--month
                  %select{style: 'height: 40px; width: 80%;'}
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
                    %option 6
                    %option 7
                    %option 8
                    %option 9
                    %option 10
                    %option 11
                    %option 12
                %p 月
                .new-credit-card-box__form__expiration--year
                  %select{style: 'height: 40px; width: 80%;'}
                    %option 2020
                    %option 2021
                    %option 2022
                    %option 2023
                    %option 2024
                    %option 2025
                    %option 2026
                    %option 2027
                    %option 2028
                    %option 2029
                    %option 2030
                %p 年
              .new-credit-card-box__form--label
                %p セキュリティーコード
                %p.required 必須
              %input.new-credit-card-box__form__security-code{placeholder: 'カード背面4桁もしくは3桁の番号'}
              = link_to '#', class: 'new-credit-card-box__form__card-info' do
                %i.fa.fa-question-circle
                %p カード裏面の番号とは？
              = link_to "追加する", '#', class:'new-credit-card-box__form__btn'
>>>>>>> master

  = render "shared/footer"