.wrapper
  = render "shared/header"

  .mypage
    .mypage__top 
      %p.mypage__top--text メルカリ > マイページ > 支払い方法

    .mypage__main
      = render 'mypages/mypage_nav' 
      .mypage__main--contents
        .add-credit-card-box
          %p.add-credit-card-box__header 支払い方法
          .add-credit-card-box__body
            .add-credit-card-box__body--btn
              %p クレジットカード一覧
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
              = link_to "削除する", delete_credit_cards_path, method: :post
              = link_to new_credit_card_path, class:'add-credit-card-btn' do
                %i.fa.fa-credit-card
                %p クレジットカードを追加する
            .add-credit-card-box__body--info
              = link_to '#', class: 'add-credit-card-info' do
                %p.add-credit-card-info__text 支払い方法について
                %i.fa.fa-chevron-right

  = render "shared/footer"

