.header
  .header__box
    .header__box__upper
      .header__box__upper__title-icon
        = link_to root_path do
          =image_tag asset_path("logo.png"), class: "header-image"
      .header__box__upper__search
        = form_with(url: search_items_path, local: true, method: :get, class: "header__box__upper__search__input") do |f|
          = f.text_field :keyword, placeholder: " キーワードから探す", class: "header__box__upper__search__input"
          %button{type: "submit", class: 'header__box__upper__search__btn'} 
            = icon('fas', 'search', class: 'search-icon')

    .header__box__navi
      .header__box__navi__left
        .header__box__navi__left__category
          カテゴリ
        .header__box__navi__left__brand
          =link_to "#" , class:"header__box__navi__left__brand" do
            ブランド
      .header__box__navi__right
      - if user_signed_in?
        = link_to "マイページ", mypages_path
          
      - else
        =link_to "ログイン", new_user_session_path, class:"header__box__navi__right__login" 
        =link_to "新規登録", new_user_registration_path, class:"header__box__navi__right__new" 

        