.wrapper
  = render "shared/header"

  %nav.breadcrumbs 
    %ol
      %li= link_to "フリマ"
      %li マイページ

  .mypage
    .mypage__main
      = render 'mypage_nav'
      .mypage__main--contents
        = render 'user_profile'

  = render "shared/footer"