.wrapper
  = render "shared/header"

  .mypage
    %nav.breadcrumbs 
      %ol
        %li= link_to "フリマ", root_path
        %li マイページ
    .mypage__main
      = render 'mypage_nav'
      .mypage__main--contents
        = render 'user_profile'

  = render "shared/footer"