.wrapper
  = render "shared/header"

  .mypage
    %nav.breadcrumbs 
      %ol
        %li= link_to "フリマ", root_path
        %li= link_to "マイページ", mypages_path
        %li ログアウト

    .mypage__main
      = render 'mypage_nav' 
      .mypage__main--contents
        .logout-page
          = link_to destroy_user_session_path, method: :delete, class:'logout-page__btn' do
            %p.logout-page__btn--text ログアウト

  = render "shared/footer"