.sessions-container
  .sessions-main
    .registration
      .registration__text
        アカウントをお持ちでない方
      .registration__btn
        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "新規登録", new_registration_path(resource_name), class: "new_registration"
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .main
        .input
          .input__email
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "　メールアドレス", class: "input__email__form", id: "email"
          .input__password
            = f.password_field :password, autocomplete: "current-password", placeholder: "　パスワード", class: "input__password__form", id: "password"
          .input__submit
            = f.submit "ログイン", class: "btn"
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "forget"
