.pickup-container
  .pickup-container__head
    ピックアップブランド
  .pickup-container__product-box
    .pickup-container__product-box__product-head
      = link_to "#", class: "line" do
        新規投稿商品
    .pickup-container__product-box__product-lists
      - @items.each do |item|
        .pickup-container__product-box__product-lists__product-list
          = link_to main_path(item.id), class: "line" do
            .pickup-container__product-box__product-lists__product-list__img
              = image_tag "free.jpg", class: "img_k"
                - if item.buyer_id.present?
                .items-box_photo__sold
                  .items-box_photo__sold__inner SOLD
            .body
              .body__name
                = item.name
              %ul.body__details
                %li.body__details__price
                  = "#{item.price}円"
                %li.body__details__star
                  ★0
              .body__tax
                (税込)