.wrapper
  = render "shared/header"
  .main
    = render "main1"
    = render "main2"
    = render "main3"
    = render "main4"
    .pickup
      = render "main5"
      = render "main6"
  = render "shared/appBanner"
  = render "shared/footer"