.wrapper
  = render "shared/header"
  .main
    = render "main1"
    = render "main2"
    = render "main3"
    = render "main4"
    .pickup
      .pickup-container
        .pickup-container__head
          ピックアップブランド
        .pickup-container__product-box
          .pickup-container__product-box__product-head
            = link_to "#", class: "line" do
              新規投稿商品
          .pickup-container__product-box__product-lists
            = render @items
      = render "main6"
  = render "shared/appBanner"
  = render "shared/footer"
