.wrapper
  = render "shared/header"
  .main
    %nav.breadcrumbs 
      %ol
        %li= link_to "フリマ", root_path
        %li= @item.name
    .showMain
      .showMain__contents
        .showMain__contents__content
          .itemBox
            .itemBox__name
              %h2= @item.name
            .itemBox__image
              %ul
                %li
                = image_tag @item_images[0].image.url ,class:"mainImage"
                  - if @item.buyer_id.present?
                  .sold-cover
                  %p.sold sold
                %ul
                  - @item_images.each do |image|
                    %li= image_tag image.image.url
            .itemBox__price
              %span.totalPrice= "¥ #{@item.price}"
              .itemBox__price__detail
                %span (税込) 
                %span 送料込み
            - if user_signed_in?
              - if @item.seller_id == current_user.id
                = link_to "root_path", class:"sellerBtn" do
                  %h2 自分の商品です
              - elsif @item.buyer_id == nil
                = link_to item_buy_index_path(@item.id), data:{"turbolinks" => false}, class:"buyBtn" do
                  %h2 購入画面に進む
              - else
                = link_to root_path, class:"soldOutBtn" do
                  %h2 Sold Out
            - else
              = link_to new_user_session_path, class:"buyBtn" do
                %h2 ログインして購入
              = link_to new_user_registration_path, class:"buyBtn" do
                %h2 新規会員登録して購入
            .itemBox__introduction
              = @item.item_description
            .table
              %table.table__details
                %tr
                  %th 出品者
                  %td= @item.seller.nickname
                %tr
                  %th カテゴリ
                  %td
                    = @item.category.root.name 
                    %br/
                    = @item.category.parent.name 
                    %br/
                    = @item.category.name 
                    %br/
                -if @item.brand_id.present?
                  %tr
                    %th ブランド
                    %td= @item.brand.name
                - else
                  %tr
                    %th ブランド
                    %td
                %tr
                  %th 商品の状態
                  %td= @item.item_condition.name
                %tr
                  %th 配送料の負担
                  %td= @item.postage_payer.name
                %tr
                  %th 発送元の地域
                  %td
                    =link_to "#" do 
                      = @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td= @item.preparation_day.name
            .optionalArea
              %ul.optionalArea__btn
                %li.likeBtn 
                  = icon('fa', 'star')
                  お気に入り 0
              %ul.optionalArea__btn
                =link_to "#" do
                  %li.reportBtn
                    = icon('fa', 'flag')
                    不適切な商品の通報
          - if user_signed_in? && current_user.id == @item.seller_id
            .sellerSelect
              = link_to '商品の編集', edit_item_path(@item.id), data:{"turbolinks" => false}, class: 'seller__edit'
              %p または
              = link_to 'この商品を削除する', item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'seller__delete'
          .commentBox
            .comments
              - if @comments
                - @comments.each do |comment|
                  .comments__text__user
                    %strong
                      .comment__user
                        %p= comment.user.nickname
                      .comment__massage__text
                        = comment.text
                        %p= comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                      .comment__delete
                        = link_to '削除', "/items/#{@item.id}/comments/#{comment.id}", method: :delete

            .commentContents
              - if user_signed_in?
                = form_with(model: [@item, @comment], local:true, id: "new_comment") do |f|
                  = f.text_area :text, class: 'textarea', rows: "2"
                  .noticeMessage
                    相手のことを考え丁寧なコメントを心がけましょう。
                    %br
                    不快な言葉遣いなどは利用制限や退会処分となることがあります。
                  = f.submit "コメントする", class: "commentBtn"
          %ul.links
            =link_to "#" do
              %li
                = icon('fa', 'angle-left')
                %span 前の商品
            =link_to "#" do
              %li
                %span 後ろの商品
                = icon('fa', 'angle-right')
          .relatedItems
            =link_to "#" do
              ベビー・キッズをもっと見る
  = render "shared/appBanner"
  = render "shared/footer"